[Unit]
Description=Sim racing telemetry signal processing client
After=local-fs.target network-online.target
Wants=local-fs.target network-online.target

[Service]
ExecStartPre=/opt/simtezilo/init/recover.sh
ExecStart=/opt/simtezilo/bin/simtezilo -d /opt/simtezilo/data/crashlogs
Type=simple
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target