# MacOS hidden files
.DS_Store

# Build files
out/

# Distribution files
dist/

# Coverage reports
*.out

# Debugging files
__debug_*

# Other app specific data
scichart/node_modules/
data/persist/
data/tmp/
data/cache/